:root {
  --primary: #C61010;
  --primary-dark: #A21616;
  --text: #ffffff;
  --text-form: #5F5F5F;
  --bg: #ffffff;
  --bg-dark: #172740;
  --container-width: 1440px;
  --container-padding: 60px
}

/* Global */
.body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  min-width: 280px;
  background-color: var(--bg);
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.button {
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: capitalize;
  text-align: center;
  color: var(--text);
  background-color: var(--primary);
  padding: 16px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  color: var(--text);
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.text-primary {
  color: var(--primary);
}

/*validation*/
.form__label {
  display: flex;
  flex-direction: column-reverse;

}

.just-validate-error-label {
  margin-bottom: 8px;
  color: var(--primary) !important;
}

/*popup*/
.body--lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.popup--open {
  display: flex;
}

.popup__overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.78);
}

.popup__inner {
  position: relative;
  max-width: 1391px;
  min-height: 150px;
  color: black;
  border-radius: 10px;
  background-color: #EDEDED;
  margin: 30px;
}

.popup__close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 11;
  right: 16px;
  top: 14px;
  padding: 0;
}

.popup__close-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--bg-dark);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.popup__close-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.popup__close-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.success-message {
  width: 359px;
  height: 159px;
  background: rgba(120, 120, 120, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 54px 66px 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-massage__inner {
  text-align: center;
  color: #FFFFFF;
}

.success-message__title {
  font-family: 'IntroDemo-BlackCAPS';
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 8px;
}

.success-message__text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

/*socials*/
.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 43px;
  row-gap: 15px;
}

.phone {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--text);
}

.phone:hover {
  text-decoration: underline;
}

.phone::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
  margin-right: 9px;
  background-image: url(../images/icons/telephone.svg);
  background-repeat: no-repeat;
  background-size: 24px;
}

.socials__link:first-child {
  margin-right: 16px;
}

.socials__image {
  transition: transform 0.2s ease-in-out;
}

.socials__link:hover .socials__image {
  transform: scale(1.08);
}

.address {
  max-width: 353px;
  font-size: 20px;
  line-height: 100%;
}

.address::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 24px;
  margin-bottom: -6px;
  margin-right: 20px;
  background-image: url(../images/icons/address.png);
  background-repeat: no-repeat;
}

/*form*/
.form__text {
  font-family: 'IntroDemo-BlackCAPS', 'Inter', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 19px;
}

.form__body {
  width: 100%;
}

.form__input {
  border: none;
  display: inline-block;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  color: var(--text-form);
  background-color: #FFFFFF;
  padding: 17px;
  margin-bottom: 14px;
}

.form__input,
.form__input::placeholder,
.form__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.form__button {
  display: inline-block;
  width: 100%;
  margin-top: 9px;
}

/*Header*/
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.49);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding-block: 15px;
  padding-inline: var(--container-padding)
}

.header__inner {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.header__nav {
  max-width: 848px;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 34px;
}

.nav__link {
  color: var(--white);
  transition: background-color 0.3s ease;

}

.nav__link:hover {
  color: var(--primary);
}

.mobile__nav {
  display: none;
}

.mobile__nav-phone {
  height: 35px;
  margin-right: 22px;
}

.mobile__nav-phone svg {
  width: 50px;
  height: 100%;
}

.mobile__nav-phone path {
  fill: var(--primary);
}

.burger-menu {
  cursor: pointer;
  display: block;
  position: relative;
  height: 35px;
  width: 50px;
}

.burger-menu-item {
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  border-radius: 3px;
}

.burger-menu-item-first {
  top: 0;
}

.burger-menu-item-second {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu-item-third {
  bottom: 0;
}

/*hero section*/
.hero {
  position: relative;
  padding-block: 143px 122px;
}

.hero::after,
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.hero::after {
  z-index: -1;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.hero::before {
  z-index: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.78) 62.25%, rgba(0, 0, 0, 0.14) 100%);
}

.hero__inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  max-width: 880px;
}

.hero__title {
  font-family: 'IntroDemo-BlackCAPS';
  font-weight: 900;
  font-size: 86px;
  line-height: 107px;
  margin-bottom: 14px;
}

.hero__text {
  max-width: 840px;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 50px;
}

.hero__list {
  max-width: 800px;
  display: flex;
  gap: 71px;
}

.hero__item {
  font-family: 'IntroDemo-BlackCAPS';
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 21px;
}

.hero__item-number {
  font-size: 38px;
  line-height: 47px;
  text-shadow: 2px 2px var(--primary);
}

.hero__item-text {
  position: relative;
  padding-top: 11px;
}

.hero__item-text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 135px;
  border: 1px solid #C61010;
}

.hero__form {
  max-width: 309px;
  margin-left: 25px;
}

/*about section*/
.about {
  padding-block: 47px 69px;
}

.about__title {
  margin-bottom: 61px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 62px;
}

.about__item {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.about__item-mobile {
  display: none;
  width: 100%;
  min-height: 208px;
  border-radius: 2px;
  background-color: var(--bg-dark);
  padding: 16px 17px 15px 20px;
}

.about__item:nth-child(2) .about__item-mobile,
.about__item:nth-child(2) .desctop-card__left {
  background-color: #294774;
}

.about__item:nth-child(3) .about__item-mobile,
.about__item:nth-child(3) .desctop-card__left {
  background-color: #3C65A4;
}

.about__item:nth-child(4) .about__item-mobile,
.about__item:nth-child(4) .desctop-card__left {
  background-color: #4E83D3;
}

.about__item-mobile__top {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.about__item-mobile__image {
  display: inline-block;
  width: 70px;
  margin-right: 17px;
}

.about__item-mobile__title {
  font-family: 'IntroDemo-BlackCAPS', 'Inter', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.about__item-mobile__text {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.about__item-desctop {
  width: 100%;
}

.desctop-card {
  width: 100%;
  display: grid;
  grid-template-columns: 308px 1fr;
}

.desctop-card__left {
  width: 308px;
  height: 171px;
  background-color: var(--bg-dark);
  padding: 22px 27px 18px 23px;
}

.desctop-card__title {
  font-weight: 800;
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 9px;
}

.desctop-card__desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.desctop-card__right {
  position: relative;
  z-index: -1;
  top: 22px;
  left: -70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.desctop-card__right-first {
  background: url(../images/about-bg1.jpg) no-repeat top center;
}

.desctop-card__right-second {
  background: url(../images/about-bg2.jpg) no-repeat top center;
}

.desctop-card__right-third {
  background: url(../images/about-bg3.jpg) no-repeat top center;
}

.desctop-card__right-fourth {
  background: url(../images/about-bg4.jpg) no-repeat top center;
}

.desctop-card__image {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: #ffffff;
}

.desctop-card__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: #4F238B;
  padding: 4px 20px 12px 118px;
}

/*services section*/
.services {
  position: relative;
  padding-block: 34px 77px;
}

.services::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/remont-nissan.png);
  background-size: 923px 545px;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 46%;
}

.services::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(59, 10, 126, 0.9) 51.63%, rgba(59, 10, 126, 0.63) 100%);
}

.services .container {
  padding-right: 0;
}

.services__title {
  margin-bottom: 109px;
}

.services__list {
  position: relative;
  z-index: 1;
  column-count: 2;
  counter-reset: example 0;
  list-style-type: decimal-leading-zero;
}

.services__item {
  display: flex;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 45px;
}

.services__item:nth-child(1n+5) {
  justify-content: flex-end;
  text-align: left;
}

.services__item-content {
  width: 378px;
  display: flex;
  gap: 20px;
}

.services__item-num {
  position: relative;
  min-width: 37px;
  display: inline-block;
}

.services__item-num::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 37px;
  height: 9px;
  background-color: var(--primary);
}

.services__item-num::before {
  content: counter(example);
  display: inline-block;
  counter-increment: example 1;
  font-family: 'IntroDemo-BlackCAPS';
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
}

.services__item-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;

}

.services__item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
}

/*portfolio*/

.portfolio {
  padding-block: 57px 77px;
}

.portfolio__title {
  margin-bottom: 58px;
}

.portfolio__content {
  width: 100%;
  height: 780px;
  position: relative;
}

.portfolio__content::before {
  content: '';
  position: absolute;
  display: block;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: 125px;
  background-color: #EDEDED;
  border-radius: 10px;
}

.portfolio__image {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*main slider*/
.mySwiper.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 135px;
}

.mySwiper .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 8px;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* width: 225px !important; */
  height: 189px !important;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__slider-prev,
.portfolio__slider-next {
  cursor: pointer;
  position: absolute;
  left: 0;
}

.portfolio__slider-prev {
  top: 42%;
}

.portfolio__slider-next {
  bottom: 42%;
  transform: rotate(180deg);
}

.mySwiper .swiper-button-disabled {
  opacity: 0.6;
  cursor: default;
}

.mySwiper .swiper-pagination-vertical.swiper-pagination-bullets,
.mySwiper .swiper-vertical>.swiper-pagination-bullets {
  right: auto;
  left: 8px;
}

.mySwiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 10px auto !important;
  background-color: #9C9C9C;
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 21px;
  height: 21px;
  background-color: var(--primary);
}

/*portfolio card for popup */
.portfolio-card {
  padding: 49px 48px 26px 45px;
}

.portfolio-card__top {
  display: flex;
  flex-wrap: wrap;
  row-gap: 26px;
  margin-bottom: 26px;
}

.portfolio-card__mark {
  margin-right: 47px;
}

.portfolio-card__price {
  position: relative;
}

.portfolio-card__price::before {
  content: '';
  position: absolute;
  top: 0;
  left: -19px;
  display: block;
  height: 33px;
  width: 1px;
  background-color: var(--primary);
}

.portfolio-card__desc {
  margin-bottom: 22px;
}

.portfolio-card__name {
  display: inline-block;
  font-family: 'IntroDemo-BlackCAPS', 'Inter', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #3B0A7E;
  margin-right: 25px;
  text-transform: uppercase;
}

.portfolio-card__text {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/*portfolio card slider*/
.popup-swiper.swiper {
  width: 100%;
  height: 100%;
}

.popup-swiper .swiper-wrapper {
  gap: 19px;
}

.popup-swiper .swiper-slide {
  width: calc(100% / 3 - 18px) !important;
}

.popup-swiper .swiper-slide img {
  width: 100%;
  object-fit: cover;
}

.popup-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.popup-swiper-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 17px;
  background-color: #9C9C9C;
  opacity: 1;
}

.popup-swiper-pagination .swiper-pagination-bullet-active {
  width: 25px;
  height: 24px;
  background-color: var(--primary);
}

/*send section*/
.send {
  position: relative;
}

.send::before,
.send::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.send::before {
  z-index: 0;
  background: linear-gradient(90deg, #172740 26.82%, rgba(80, 20, 162, 0.71) 100%);
}

.send::after {
  z-index: -1;
  background-image: url(../images/send-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.send__inner {
  position: relative;
  z-index: 1;
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send__content {
  max-width: 783px;
  padding-block: 30px;
  padding-left: 62px;
}

.send__content .button {
  display: block;
  font-size: 14px;
  line-height: 100%;
  padding: 14px;
}

.send__title {
  font-family: 'IntroDemo-BlackCAPS', 'Inter', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 40px;
}

.send__form {
  max-width: 281px;
  margin-bottom: 12px;
}

.send__form .form__input {
  min-height: 42px;
  border-radius: 5px;
  color: var(--text-form);
  background-color: #FFFFFF;
  padding: 10px 23px;
  margin-bottom: 12px;
}

.form__label-picture>.form__input {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  min-width: 0;
  min-height: 0;
}

.form__label-picture {
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  justify-content: center;
  /* display: inline-block; */
  width: 100%;
  min-height: 42px;
  border-radius: 5px;
  color: var(--text-form);
  background-color: #FFFFFF;
  padding: 10px 23px;
  margin-bottom: 12px;
}

.form__label-picture::after {
  content: '';
  position: absolute;
  top: 18px;
  right: 11px;
  width: 14px;
  height: 8px;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.form__label-picture:hover::after {
  transform: rotate(180deg);
}

.send__form .form__button {
  margin-top: 0;
}

.send__buttons {
  max-width: 281px;
}

.send__buttons .button {
  width: 100%;
  margin-bottom: 12px;
}

.button-whatsup {
  background-color: #51C528;
}

.button-telegram {
  background-color: #00A3FF;
}

/*footer*/
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-dark);
  padding-block: 35px 46px;
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 85px;
}

.footer__logo {
  margin-right: 103px;
}

.footer__logo img {
  width: 341px;
  height: 33px;
}

.footer__nav {
  margin-right: auto;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footer__contacts {
  text-align: right;
}

.footer__contacts .contacts {
  justify-content: flex-end;
  margin-bottom: 24px;
}

.footer__copyright,
.footer__copyright a {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--text);
}

.footer__copyright:hover a {
  text-decoration: underline;
}

/*hidden classes*/
.visually-hidden {
  position: absolute;
  min-height: 1px;
  min-width: 1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 1280px) {

  /* hero section*/
  .hero__content {
    max-width: 800px;
  }

  .hero__title {
    font-size: 75px;
    line-height: 100px;
  }

  /*about section*/
  /* .about__item {
    width: 275px;
    padding-inline: 15px; 
  } */

  /*services section*/
  .services::before {
    background-position-x: 130px;
  }

  .services__item:nth-child(-n+4) {
    margin-left: 0;
  }

  .services__item:nth-child(1n+5) {
    margin-right: 0;
  }

  /*prortfolio section*/
  .portfolio__content {
    height: 675px;
  }

  .mySwiper .swiper-wrapper {
    row-gap: 8px;
  }

  .mySwiper .swiper-slide {
    height: 100% !important;
    max-height: 160px !important;
  }

  /*send section*/
  .send__content {
    max-width: 660px;
  }

  .send__title {
    font-size: 30px;
  }
}

@media (max-width: 1200px) {

  /*services section*/
  .services::before {
    background-position-x: 80px;
  }

  .desctop-card__text {
    padding-left: 80px;
  }
}